<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Itzik's Portfolio</title>
  </head>

  <body>
    <h1>Welcome to my portfolio</h1>
    <h2>Itzik Efraim</h2>

    <div id="aboutMe">
      <p>
        My name is Itzik Efraim. I'm a team player with excellent interpersonal skills and ability to work with minimal direction.
        I worked with Java, C, Python, JavaScript, NodeJS, and more.
        Let me tell you about my self...
      </p>
    </div>

    <div id="Education">
      <h2>Education</h2>
    </div>

  </body>
</html>
