<!DOCTYPE html>
<html>
  <head>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
   <title>Itzik's Portfolio</title>
  </head>

  <body>
    <h1>Welcome to my portfolio</h1>
    <h2>Itzik Efraim</h2>

    <div id="aboutMe">
      <p>
        My name is Itzik Efraim. I'm a team player with excellent interpersonal skills and ability to work with minimal direction.
        I worked with Java, C, Python, JavaScript, NodeJS, and more.
        Let me tell you about myself...
      </p>
    </div>

    <div id="Education">
      <h2>Education</h2>
      <h3>Bachelor of Science in Computer Science - Graduation: May 2021 - GPA: 3.82</h3>
      <h4>University of Central Florida</h4>
    </div>

    <div id="organizations">

    </div>
  </body>
</html>
